form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px 30px;
    width: 100%;
    max-width: 400px;
    background-color: #393E46;
    border-radius: 25px;
}
.field-container{
    position: relative;
    width: 100%;
}
label{
    font-size: 0.5rem;
    position: absolute;
    top: -20px;
}
input{
    height: fit-content;
    font-size: 0.7rem;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}
.auth-btn{
    width: 100%;
    max-width: 400px;
}
.error{
    margin-top: 10px;
    font-size: 0.5rem;
    color: rgb(255, 90, 90);
}

a{
    font-size: 0.6rem;
    width: fit-content;
}
@media (max-width: 768px) {
	.auth-btn{
        font-size: 0.95rem;
        padding: 8px;
    }
    label{
        font-size: 0.8rem;
    }
    .error{
        font-size: 0.8rem;
    }
  }