.expenses-container{
  height: fit-content;
  width: 48%;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 6px;
  min-width: 30%;
  padding: 40px 20px 80px;
  background-color: #474d57;
  border-radius: 10px;
  overflow-x: scroll;
  
}
::-webkit-scrollbar {
  width: 2px;
}
.col{
  flex-direction: column;
  justify-content: center;
}
.col button{
  height: 100%;
  padding: 5px 6px;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
	#expenses-container-header{
    flex-direction: row-reverse;
  }
  #expenses-container-header button{
    margin-left: 0;
  }
  
}

@media (max-width: 768px) {
	.expenses-container {
    width: 100%; 
    padding: 40px 20px 60px;
	  }
  }
