.expensebar-container{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #EEEEEE;
    color:#393E46;
    padding: 10px 12px;
    border-radius: 15px;
}
.expense-img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.expense-data-container-left{
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.expense-data-container-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.expense-title{
    font-size: 0.64rem;
    font-weight: 800;
}
.expense-category,.expense-date,.expense-amount{
    font-size: 0.45rem;
    font-weight: 600;
    width: fit-content;
}
.expense-amount{
    font-weight: bold;
}

@media (min-width: 768px) {
	.expense-img{
        height: 56px;
        width: 56px;
    }
  }