.progress-bar{
    height: 4px;
    background: rgb(0,91,255);
    border-radius: 10px;
    overflow: hidden;
}
.budgetbar-container{
  position: relative;
}
.budget-caption{
  font-size: 0.7rem;
  font-weight: 400;
  display: inline;
  width: fit-content;
  line-height: 1.6;
}

.budget-stats{
  font-size:  0.5rem;
  font-weight: 400;
  display: inline;
  width: fit-content;
  line-height: 2.2;
}
.budget-body{
  display: flex;
  justify-content: space-between;
}
.budget-options{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}