.card{
    display: flex;
    width: 6rem;
    max-height: 210px;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    border-radius: 12px;
    background-color: #474d57;
    color: white;
    text-align: center;
}
.card img{
    height: 100px;
    width: 100px;
    padding: 15px;
}

.card-number{
    font-size: 1rem;
    font-weight: 600;
    width: max-content;
    
}
.card-title{
    font-size: 0.5rem;
    width: fit-content;
    font-weight: 200;
}
.card-subtitle{
    font-weight: 400;
    font-size: 0.6rem;
    width: fit-content;
}

@media (max-width: 768px) {
    .card{
        padding: 10px 6px;
        border-radius: 6px;
    }
    .card img{
        height: 70px;
        width: 70px;
    }
	.card-number{
        font-size:x-small;
        width: fit-content;
    }
    .card-title{
        font-size:xx-small; 
    }
  }