.dashboard-page{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.grid{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    order: 2;
    margin-top: 60px;
}
.classic-btn{
    max-width: fit-content;
    padding: 10px 20px;
    border-radius: 6px;
    border: none; 
    color: white;
    background-color: #00ADB5;
    cursor: pointer;
    font-size: 0.55rem;
}
.view-button{
    position: absolute;
    bottom: 2%;
    left: 2%;
}
.section-header-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}
.section-heading{
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 6px;
    width: fit-content;
}
@media (max-width: 768px) {
	.grid {
      margin-top: 0px;
      width: 100%;
      justify-content: flex-start;
      flex-direction: column;
	}
    .classic-btn{
        padding: 6px 12px;
    }
    .view-button{
        bottom: 3%;
        left: 4%;
    }
  }