.budgets-container{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px 0px 0px 0px;
  margin-top: 20px;
}
@media (max-width: 768px) {
	.budgets-container {
      width: 100%;
	}
  }
 