
.progress-bar {
    height: 4px;
    background: rgb(0,91,255);
    border-radius: 10px;
    overflow: hidden;
  }
.budget-caption{
  font-size: 0.875rem;
  font-weight: 400;
  display: inline;
  width: fit-content;
  line-height: 1.6;
}
.budget-stats{
  font-size:  0.625rem;
  font-weight: 400;
  float: right;
  display: inline;
  width: fit-content;
  line-height: 2.2;
}