.expenses-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 30%;
    padding: 20px 0px 0px 0px;
    margin-top: 20px;
}
@media (max-width: 768px) {
	.expenses-container {
        max-width: 100%;
	}
  }