.profile-container{
    max-height: 60px;
    width: 100%;
    display: flex;
}
.profile-container img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px dashed rgb(139, 139, 139);
}
.profile-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2px 0px 8px 10px;
}
.profile-welcome-text{
    font-size: 0.6875rem;
    font-weight: 400;
    color: rgb(212, 212, 212);
}
.profile-name-text{
    font-size: 1.125rem;
    font-weight: 600;
}